<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="author" content="Horizons">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"> 

    <!-- WEBSITE TITLE & DESCRIPTION -->
    <title>Block Limits - Horizons</title>
    <meta name="description" content="Block Limits for the Horizons Space Engineers Super Cluster.">
    <meta name="keywords" content="space engineers, horizons, blocklimits, limits, block limits">

    <!-- OG meta tags that improve the look of your post on social media -->
    <meta property="og:site_name" content="" /><!--website name-->
    <meta property="og:site" content="" /> <!--website link-->
    <meta property="og:title" content=""/> <!--Post title-->
    <meta property="og:description" content="" /> <!--Post description-->
    <meta property="og:image" content="/images/ship.png" /><!-- Image link (jpg only)-->
    <meta property="og:url" content="" /> <!--where do you want your post to link to-->
    <meta property="og:type" content="article" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">

    <!-- STYLES -->
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
    <!-- Video Modal -->
    <link href="/css/modal-video.min.css" rel="stylesheet">
    <!-- Animations -->
    <link href="/css/animations.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="/css/lightbox.min.css" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/table.css" rel="stylesheet">
</head>
<body>

    <%- include('./components/loader') %>
    <%- include('./components/header') %>

    <div class="extra-page">
        <!-- /// HERO SECTION /// -->
        <section id="hero-section" class="extra-page">
            <div class="row hero-unit">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <div class="hero-caption"><!-- Main Tagline -->
                                <h1>BLOCK LIMITS</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Hero Section End -->

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb" class="small-margin breadcrumb-nav">
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Space Engineers</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ship Classes</li>
                    </ol>
                </div>
            </div>
        </nav>

        <section class="extra-page small-margin">
            <div class="container">

                <h2>Player & Faction Limits</h2>
                <table>
                    <tr class="table-head">
                        <th>Limit Name</th>
                        <th class="table-separator">Player Limit</th>
                        <th>Faction Limit</th>
                    </tr>

                    <% GeneralLimits.forEach(Limit => { %>
                        <tr>
                            <th><%= Limit.name %></th>

                            <th class="table-separator"><%= Limit.player || 'No Limits Set' %></th>
                            <th><%= Limit.faction || 'No Limits Set' %></th>
                        </tr>
                    <% }) %>
                </table>

                <br/><br/><br/>

                <h2 style="margin-bottom: 0;">Ship Class Limits</h2>
                <p style="margin-bottom: 10px; padding-top: 0;">Learn more about Ship Classes <a href="/classes">here</a>.</p>

                <% 
                    let Tags = {}
                    ClassLimits.forEach(Limit => {
                        if (!Limit.tag) {
                            if (Tags['Other']) Tags['Other'].push(Limit)
                            else Tags['Other'] = [Limit]
                        } else {
                            if (Tags[Limit.tag]) Tags[Limit.tag].push(Limit)
                            else Tags[Limit.tag] = [Limit]
                        }
                    })

                    for (const Tag in Tags) { CreateSection(Tags[Tag], Tag) }
                %>

                <% function CreateSection(Bundle, Name) { %>

                    <table style="margin-bottom: 3rem;">

                    <tr class="table-head">
                        <th><%= Name %></th>
                        <th class="table-separator">A Class</th>
                        <th>B Class</th>
                        <th>C Class</th>
                        <th>D Class</th>
                    </tr>

                <% Bundle.forEach(Limit => { %>
                    <tr>
                        <th><%= Limit.name %></th>

                        <% if (Limit.A) { %> <th class="table-separator"><%= Limit.A.join(' / ') %></th><% } else { %><th class="table-separator">No Limits Set</th><% } %>
                        <% if (Limit.B) { %> <th><%= Limit.B.join(' / ') %></th><% } else { %><th>No Limits Set</th><% } %>
                        <% if (Limit.C) { %> <th><%= Limit.C.join(' / ') %></th><% } else { %><th>No Limits Set</th><% } %>
                        <% if (Limit.D) { %> <th><%= Limit.D.join(' / ') %></th><% } else { %><th>No Limits Set</th><% } %>
                    </tr>
                <% }) %>

                    </table>

                <% } %>

            </div>
        </section>

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Space Engineers</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ship Classes</li>
                    </ol>
                </div>
            </div>
        </nav>

        <!-- /// FOOTER /// -->
        <div id="footer-extra">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>About Horizons</h3>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Important Links</h3>
                        <ul class="extra-links">
                            
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Social Links</h3>
                        <ul class="social-links"> <!-- Social Media Icons -->
                            <li><a href="#"><i class="fab fa-discord icon-social"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <p id="copyright">&copy; HORIZONS <span id="year"></span></p><!-- Copyright Text -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- //// SCRIPTS //// -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/blazy.min.js"></script>
    <script src="js/jquery-modal-video.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/validator.min.js"></script>
    <script src="js/arsnl.js"></script>    
</body>